



*{
    padding: 0px;
    margin: 0px;
}
body{
    background: url("marco.jpg");
    background-size: 100%; 
}
#check{
    display: none;

}   
#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}
.barra{
    background-color: #333;
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    
}
nav{
    width: 100%;
    position: absolute;
    top: 60px;
}
img{
    width: 18%;
}
nav a{
    text-decoration: none;

}
.link{
    background-color: #f4f4f9;
    padding: 20px;
    font-family: Arial;
    font-size: 12pt;
    transition: all .2s linear;
    color:black;
    border-bottom: 2px solid #222;
    text-transform: uppercase;
    
}
.link:hover{
    background-color: #050542;
}
#check:checked ~ .barra{
    transform: translateX(-300px);
}
